@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: "Poppins", serif;
font-family: "Inter", serif; 
*/

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

/* Header section */

header{
    width: 80%;
    margin: 0 auto;
}

.logo h1{
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-family: "Poppins", serif;
    font-size: 1rem;
}

/* Banner */

.banner-section{
    display: flex;
    gap: 8.1rem;
    align-items: center;
    padding: 50px 0;
    margin-bottom: 50px;
}

.banner-text{
    flex: .6;
}

.banner-text h1{
    color: rgb(58, 58, 58);
    font-family: "Poppins", serif;
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-text p{
    color: rgb(58, 58, 58);
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    margin: 16px 0;
}

.banner-img{
    flex: .4;
    background: url(images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text button{
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", serif;
    font-size: 1rem;
    padding: 10px 24px;
    border-radius: 40px;
    background: rgb(224, 44, 109);
}

/* sponsore section */

.sponsore{
    display: flex;
    margin-bottom: 100px;
    margin-top: 40px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

hr{
    width: 700px;
    margin: 0 auto;
}

/* Popular collection section */


.collection{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.collection h1{
    color: rgb(58, 58, 58);
    font-family: "Poppins", serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 18px 15px;
}

.card img{
    border-radius: 0px;
    margin-bottom: 16px;
}

.card h2{
    color: rgb(24, 25, 31);
    font-family: "Poppins", serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.card h4{
    color: rgba(0, 0, 0, 0.87);
    font-family: "Inter", serif; 
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.rating{
    display: flex;
    align-items: baseline;
}

.rating img{
    width: 11px;
}

.rating p{
    font-family: "Inter", serif; 
    font-size: .8rem;
}

#rating-text{
    font-family: "Inter", serif; 
    font-size: 1rem;
    color: rgb(120, 120, 133);
    width: 80%;
}


/* features box */

.join-now-box{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.join-img{
    flex: .4;
}

.join-text{
    flex: .6;
}
.join-text h1{
    color: rgb(10, 8, 38);
    font-family: "Poppins", serif;
    font-size: 2.3rem;
    margin-bottom: 16px;
}

.join-text p{
    color: rgb(108, 108, 108);
    font-family: "Poppins", serif;
    font-size: 1rem;
    margin-bottom: 16px;
}

.join-text button{
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", serif;
    font-size: 1rem;
    padding: 10px 24px;
    background: rgb(224, 44, 109);
}